name: "Build main"

on:
  push:
    branches:
      - main

env:
  JAVA_OPTS: -Xms512m -Xmx1024m
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.configureondemand=true -Dorg.gradle.jvmargs=-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
  SONATYPE_USER: '${{ secrets.SONATYPE_USER }}'
  SONATYPE_PWD: '${{ secrets.SONATYPE_PWD }}'
  OSS_USER: '${{ secrets.OSS_USER }}'
  OSS_TOKEN: '${{ secrets.OSS_TOKEN }}'
  OSS_STAGING_PROFILE_ID: '${{ secrets.OSS_STAGING_PROFILE_ID }}'
  SIGNING_KEY_NAME: '${{ secrets.SIGNING_KEY_NAME }}'
  SIGNING_KEY_ID: '${{ secrets.SIGNING_KEY_ID }}'
  SIGNING_KEY_PASSPHRASE: '${{ secrets.SIGNING_KEY_PASSPHRASE }}'
  SIGNING_KEY: '${{ secrets.SIGNING_KEY }}'

jobs:
  publish_jvm_js_linux_apple:
    env:
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PWD: ${{ secrets.SONATYPE_PWD }}

    runs-on: macos-11.0
    timeout-minutes: 120

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      -  name: Setup JDK
         uses: actions/setup-java@v2
         with:
           distribution: 'zulu'
           java-version: '8'

      - name: Build
        run: ./gradlew publishToSonatype --scan --stacktrace
  publish_windows:
    env:
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PWD: ${{ secrets.SONATYPE_PWD }}

    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build
        run: ./gradlew publishToSonatype --scan --stacktrace

  docs:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Dokka
        id: Dokka
        continue-on-error: true
        run: ./gradlew dokkaHtml --scan

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto update docs
