name: "Build main"

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'

env:
  JAVA_OPTS: -Xms512m -Xmx1024m
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.configureondemand=true -Dorg.gradle.jvmargs=-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"

jobs:
  check:
    strategy:
      matrix:
        os: [ windows-latest, macos-11.0 ]
    runs-on: ${{matrix.os}}
    timeout-minutes: 20
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Restore Gradle cache
        id: cache
        uses: actions/cache@v2.1.7
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.gradle/yarn
            ~/.gradle/nodejs
            ~/.konan
          key: ${{ runner.os }}-check-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-check-

      - name: Run MacOs check
        if: matrix.os == 'macos-11.0'
        run: ./gradlew check --scan

      - name: Run Windows mingwX64Test
        if: matrix.os == 'windows-latest'
        run: ./gradlew mingwX64Test --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: 'reports-${{ matrix.os }}'
          path: '**/build/reports/**'
